:root {
    --argentina-color: #75AADB; 
    --spain-color: #C60B1E; 
    --card-width: 80%;
    --card-bg-color: #f2f2f2;
    --card-border-radius: 15px;
    --card-shadow-color: rgba(0, 0, 0, 0.15);
    --card-transition-duration: 0.3s;
}

.titulo-receta {
    color: var(--argentina-color);
    font-size: 50px;
}

.form-estilo {
    width: var(--card-width);
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0px 0px 10px var(--card-shadow-color);
    transition: var(--card-transition-duration);
}
.form-estilo label {
    color: var(--argentina-color);
    font-size: 30px;
}

.form-estilo input[type="text"],
.form-estilo textarea {
    border: 1px solid var(--argentina-color);
    padding: 10px;
    border-radius: var(--card-border-radius);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 20px;
}

.form-estilo button {
    background: linear-gradient(to right, var(--argentina-color), var(--spain-color));
    color: white;
    font-size: 20px !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.form-estilo button:hover {
    background-color: var(--spain-color);
}